.cl1{
/* Rectangle 10 */
position: absolute;
width: 1920px;
height: 487px;
left: 0;
right: 0;
top: 0;
bottom: 593px;
background: rgb(217, 217, 217);
}

.cl2{
/* Rectangle 2 */
position: absolute;
width: 1931px;
height: 22px;
left: -11px;
right: 0;
top: 130px;
bottom: 928px;
background: rgb(0, 0, 0);
}

.cl3{
/* Rectangle 4 */
position: absolute;
width: 1920px;
height: 26px;
left: 0;
right: 0;
top: 218px;
bottom: 836px;
background: rgb(0, 0, 0);
}

.cl4{

/* Rectangle 5 */
position: absolute;
width: 250px;
height: 68px;
left: 133px;
right: 1537px;
top: 244px;
bottom: 768px;
background: rgb(255, 0, 0);
}

.cl5{

/* Rectangle 6 */
position: absolute;
width: 250px;
height: 68px;
left: 484px;
right: 1186px;
top: 244px;
bottom: 768px;
background: rgb(255, 0, 0);
}

.cl6{
/* Rectangle 7 */
position: absolute;
width: 250px;
height: 68px;
left: 835px;
right: 835px;
top: 244px;
bottom: 768px;
background: rgb(255, 0, 0);
}

.cl7{

/* Rectangle 9 */
position: absolute;
width: 250px;
height: 68px;
left: 1537px;
right: 133px;
top: 244px;
bottom: 768px;
background: rgb(255, 0, 0);
}

.cl8{
/* Катогории сайтов: */
position: absolute;
width: 624px;
height: 77px;
left: 648px;
right: 648px;
top: 141px;
bottom: 862px;
color: rgb(0, 0, 0);
font-family: Inter;
font-size: 64px;
font-weight: 400;
line-height: 77px;
letter-spacing: 0%;
text-align: left;
}

.cl9{
/* goodsitez */
position: absolute;
width: 187px;
height: 48px;
left: 866px;
right: 867px;
top: 13px;
bottom: 1019px;
color: rgb(0, 0, 0);
font-family: Inter;
font-size: 40px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}
.cl10{

/* Это сайт про полезные и нужные сайты */
position: absolute;
width: 786px;
height: 48px;
left: 567px;
right: 567px;
top: 61px;
bottom: 971px;
}

.cl11{

}

.cl12{

}